In [1]:
# Importing the necessary libraries

import pandas as pd
import numpy as np
import sqlite3
from matplotlib import pyplot as plt

In [2]:
# Reading the orders.csv file into a dataframe
df1 = pd.read_csv("orders.csv")

In [3]:
# Reading the user.json file into a dataframe
df2 = pd.read_json("users.json")

In [4]:
# Restaurants.sql file converted into an excel file and is being read into a dataframe
df3 = pd.read_excel("Res_data.xlsx")

In [5]:
# Displaying the first 5 rows
df1.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [6]:
# Displaying the first 5 rows
df2.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [7]:
# Displaying the first 5 rows
df3.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [8]:
df_merge1 = pd.merge(df1, df2, on='user_id', how='left')

In [9]:
df_merge2 = pd.merge(df_merge1, df3, on='restaurant_id', how='left')

In [10]:
# Merges
df_merge1

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name,name,city,membership
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular
...,...,...,...,...,...,...,...,...,...
9995,9996,2528,249,21-05-2023,1211.96,Royal Kitchen North Indian,User_2528,Hyderabad,Gold
9996,9997,2867,267,06-08-2023,1188.05,Darbar Cafe Punjabi,User_2867,Bangalore,Regular
9997,9998,522,420,11-11-2023,979.44,Ruchi Tiffins Chinese,User_522,Bangalore,Gold
9998,9999,319,492,08-09-2023,1105.93,Swagath Kitchen North Indian,User_319,Bangalore,Gold
9999,10000,457,439,21-10-2023,879.58,Classic Cafe Family Restaurant,User_457,Chennai,Regular

In [79]:
df_merge1.sample(10)

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name,name,city,membership
2263,2264,1520,341,07-07-2023,106.62,Amma Biryani Family Restaurant,User_1520,Chennai,Regular
6524,6525,2452,354,06-06-2023,1377.12,Darbar Kitchen Chinese,User_2452,Pune,Gold
9204,9205,852,267,30-01-2023,281.90,Darbar Cafe Punjabi,User_852,Bangalore,Gold
1502,1503,2220,33,24-02-2023,1425.85,Amma Foods Non-Veg,User_2220,Bangalore,Regular
8199,8200,2430,443,08-03-2023,1195.87,Darbar Foods Andhra,User_2430,Pune,Gold
619,620,980,82,18-12-2023,1132.62,Udupi Kitchen Pure Veg,User_980,Chennai,Gold
1629,1630,2902,211,02-01-2023,318.33,Darbar Mess Multicuisine,User_2902,Hyderabad,Regular
3969,3970,1965,57,25-05-2023,822.33,Spice Mess Punjabi,User_1965,Hyderabad,Gold
4054,4055,2411,192,16-06-2023,835.74,Darbar Restaurant Punjabi,User_2411,Chennai,Gold
7225,7226,2320,474,15-07-2023,583.55,Annapurna Tiffins Pure Veg,User_2320,Hyderabad,Gold

In [11]:
df_merge2

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,2528,249,21-05-2023,1211.96,Royal Kitchen North Indian,User_2528,Hyderabad,Gold,Restaurant_249,Italian,4.7
9996,9997,2867,267,06-08-2023,1188.05,Darbar Cafe Punjabi,User_2867,Bangalore,Regular,Restaurant_267,Chinese,4.2
9997,9998,522,420,11-11-2023,979.44,Ruchi Tiffins Chinese,User_522,Bangalore,Gold,Restaurant_420,Italian,4.0
9998,9999,319,492,08-09-2023,1105.93,Swagath Kitchen North Indian,User_319,Bangalore,Gold,Restaurant_492,Italian,4.0
9999,10000,457,439,21-10-2023,879.58,Classic Cafe Family Restaurant,User_457,Chennai,Regular,Restaurant_439,Mexican,3.1

In [12]:
df_merge2.to_csv("final_food_delivery_dataset.csv")

In [13]:
df_new = pd.read_csv("final_food_delivery_dataset.csv")

In [14]:
df_new.head()

,Unnamed: 0,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

- Which city has the highest total revenue (total_amount) from Gold members?

In [15]:
df_new[df_new['membership'] == 'Gold'].groupby('city')['total_amount'].sum().sort_values()

city
Hyderabad     896740.19
Bangalore     994702.59
Pune         1003012.32
Chennai      1080909.79
Name: total_amount, dtype: float64

- Which cuisine has the highest average order value across all orders?

In [16]:
df_new.groupby('cuisine')['total_amount'].mean()

cuisine
Chinese    798.389020
Indian     798.466011
Italian    799.448578
Mexican    808.021344
Name: total_amount, dtype: float64

- How many distinct users placed orders worth more than ₹1000 in total (sum of all their orders)?

In [17]:
count = 1
for i in df_new['user_id'].unique():
    print(count, i)
    count += 1

1 2508
2 2693
3 2084
4 319
5 1064
6 2933
7 970
8 891
9 364
10 2972
11 924
12 884
13 1958
14 1733
15 1321
16 1896
17 1617
18 330
19 2567
20 1610
21 688
22 2640
23 2403
24 288
25 2915
26 1056
27 2370
28 2905
29 2009
30 1986
31 1407
32 1761
33 844
34 2858
35 186
36 952
37 118
38 2773
39 1071
40 2274
41 380
42 633
43 1146
44 2294
45 505
46 372
47 2911
48 1673
49 1853
50 799
51 638
52 1042
53 2610
54 2560
55 392
56 606
57 1785
58 1077
59 1753
60 723
61 205
62 1565
63 340
64 2716
65 850
66 929
67 179
68 773
69 204
70 1725
71 1284
72 849
73 1632
74 2286
75 1396
76 1965
77 2320
78 38
79 1149
80 2879
81 2917
82 2563
83 1750
84 58
85 1619
86 2760
87 2309
88 81
89 2874
90 587
91 570
92 1048
93 614
94 1135
95 549
96 2811
97 1337
98 991
99 1922
100 1115
101 804
102 2873
103 1118
104 1493
105 532
106 1350
107 1416
108 2446
109 2265
110 142
111 827
112 2476
113 1449
114 1209
115 1741
116 1385
117 383
118 2661
119 2440
120 257
121 1649
122 2913
123 42
124 1227
125 1128
126 2850
127 778
128 2384
129 45
130 912
131 2643
132 1603
133 880
134 1639
135 765
136 1831
137 1860
138 1729
139 2519
140 1243
141 93
142 1821
143 1975
144 2337
145 2136
146 863
147 2115
148 2832
149 623
150 2523
151 282
152 436
153 2732
154 2152
155 1291
156 354
157 939
158 2852
159 2241
160 1982
161 1583
162 1644
163 1437
164 2475
165 2134
166 968
167 1953
168 1352
169 740
170 238
171 2544
172 2271
173 424
174 816
175 1090
176 131
177 724
178 1945
179 1722
180 2704
181 2805
182 2666
183 574
184 1542
185 2482
186 345
187 2405
188 914
189 1258
190 789
191 996
192 767
193 2543
194 2619
195 1782
196 1347
197 482
198 2094
199 1380
200 253
201 2453
202 1642
203 761
204 1816
205 2339
206 2626
207 66
208 1087
209 105
210 1846
211 327
212 430
213 1154
214 2922
215 1884
216 370
217 2992
218 2341
219 77
220 2302
221 760
222 2064
223 399
224 196
225 2278
226 2342
227 629
228 1298
229 1695
230 2165
231 1879
232 2067
233 2160
234 690
235 323
236 1067
237 2438
238 170
239 958
240 478
241 2143
242 2575
243 677
244 344
245 2588
246 2125
247 1220
248 943
249 775
250 1680
251 1130
252 1026
253 597
254 803
255 956
256 1484
257 1691
258 427
259 565
260 1489
261 2316
262 679
263 1754
264 2191
265 2124
266 1505
267 443
268 349
269 2071
270 55
271 1174
272 764
273 1446
274 4
275 2098
276 1213
277 936
278 1646
279 537
280 595
281 2928
282 2594
283 1305
284 1628
285 2694
286 1164
287 2118
288 1395
289 2401
290 1262
291 2233
292 1150
293 757
294 1344
295 1402
296 832
297 1921
298 2183
299 2177
300 2474
301 2280
302 322
303 1739
304 694
305 2555
306 2023
307 1690
308 2742
309 223
310 48
311 413
312 1019
313 1573
314 1588
315 1679
316 870
317 1496
318 1134
319 2122
320 1155
321 2534
322 1339
323 114
324 1526
325 1080
326 321
327 1474
328 2868
329 1485
330 308
331 1883
332 1730
333 2755
334 1897
335 1105
336 1226
337 2465
338 2184
339 312
340 2016
341 98
342 1424
343 2004
344 2586
345 1746
346 959
347 128
348 1804
349 1665
350 1666
351 475
352 2101
353 1301
354 2642
355 496
356 2089
357 2757
358 1538
359 1431
360 1535
361 2449
362 2
363 2292
364 20
365 2829
366 1893
367 2022
368 1078
369 2907
370 188
371 918
372 1797
373 315
374 96
375 834
376 2690
377 1832
378 197
379 1232
380 95
381 1675
382 1654
383 2849
384 1759
385 19
386 653
387 137
388 2338
389 2535
390 1283
391 1933
392 1369
393 1246
394 1672
395 1408
396 468
397 1530
398 1257
399 1453
400 1607
401 153
402 635
403 1033
404 1024
405 1089
406 2400
407 2355
408 1311
409 1771
410 1847
411 700
412 2568
413 181
414 1289
415 1025
416 9
417 148
418 657
419 129
420 1205
421 643
422 2216
423 1731
424 586
425 1784
426 2225
427 2691
428 1823
429 1932
430 2390
431 2930
432 2674
433 2116
434 1199
435 937
436 701
437 1834
438 1577
439 2810
440 526
441 168
442 2718
443 1571
444 2117
445 1290
446 2981
447 763
448 719
449 1133
450 230
451 1684
452 362
453 2489
454 650
455 2057
456 361
457 2865
458 987
459 1570
460 2119
461 1561
462 704
463 2305
464 86
465 106
466 2499
467 337
468 1951
469 1315
470 2069
471 790
472 1800
473 1418
474 1430
475 2045
476 2717
477 628
478 1828
479 1604
480 2472
481 410
482 439
483 435
484 1924
485 898
486 211
487 2618
488 1159
489 1104
490 2162
491 2072
492 1210
493 1072
494 233
495 1688
496 1562
497 627
498 2488
499 224
500 639
501 951
502 1756
503 1252
504 341
505 365
506 648
507 2227
508 1167
509 2234
510 2058
511 1083
512 408
513 2447
514 1166
515 2624
516 518
517 1653
518 2210
519 2862
520 85
521 1966
522 1912
523 988
524 2323
525 299
526 1384
527 1938
528 2982
529 1092
530 2667
531 1264
532 1596
533 909
534 1068
535 1551
536 2034
537 978
538 472
539 2170
540 1020
541 553
542 833
543 1652
544 2578
545 1422
546 2664
547 1410
548 1794
549 1278
550 2158
551 1539
552 2876
553 812
554 2470
555 1392
556 1947
557 2051
558 1434
559 980
560 2150
561 1769
562 877
563 2775
564 1913
565 2553
566 2639
567 668
568 2251
569 493
570 297
571 2884
572 1955
573 126
574 915
575 1203
576 2696
577 674
578 2398
579 818
580 998
581 391
582 1687
583 673
584 242
585 2520
586 2424
587 660
588 1445
589 845
590 59
591 2872
592 828
593 2107
594 938
595 2236
596 1400
597 797
598 1948
599 2245
600 1268
601 2205
602 2293
603 1165
604 2014
605 2870
606 1037
607 2701
608 1781
609 921
610 2478
611 2673
612 665
613 569
614 235
615 360
616 945
617 1554
618 741
619 2166
620 2978
621 2343
622 563
623 1382
624 2003
625 2287
626 744
627 1073
628 971
629 561
630 886
631 772
632 259
633 206
634 2481
635 2120
636 2964
637 2721
638 428
639 1470
640 1152
641 1697
642 2081
643 2295
644 352
645 1022
646 2611
647 91
648 1229
649 2700
650 963
651 1274
652 807
653 2353
654 2752
655 1375
656 1935
657 1956
658 2387
659 251
660 935
661 2186
662 2607
663 1010
664 2521
665 1931
666 1766
667 2706
668 2807
669 2856
670 1643
671 1100
672 1066
673 2335
674 983
675 774
676 868
677 2033
678 1674
679 172
680 305
681 1635
682 1989
683 562
684 2679
685 67
686 523
687 68
688 1374
689 122
690 2261
691 1218
692 749
693 2540
694 2296
695 1207
696 2537
697 1201
698 84
699 2786
700 1425
701 1411
702 2943
703 1660
704 1009
705 2109
706 1692
707 2682
708 663
709 831
710 1195
711 16
712 607
713 1869
714 2308
715 474
716 1638
717 2973
718 1531
719 1621
720 2147
721 2892
722 2714
723 1637
724 2362
725 1143
726 655
727 1516
728 1455
729 1961
730 1765
731 369
732 1598
733 256
734 904
735 267
736 146
737 1444
738 1187
739 1747
740 1515
741 2484
742 2840
743 1239
744 208
745 2681
746 185
747 255
748 2809
749 1140
750 2207
751 2066
752 1248
753 2678
754 1253
755 933
756 1420
757 458
758 1440
759 1409
760 2091
761 1469
762 2554
763 2467
764 1790
765 1699
766 1353
767 2869
768 683
769 1902
770 1173
771 2822
772 729
773 838
774 501
775 1755
776 1141
777 2038
778 1862
779 1787
780 2088
781 785
782 454
783 2179
784 522
785 1900
786 534
787 2025
788 2189
789 1256
790 2275
791 1053
792 495
793 710
794 189
795 1736
796 2960
797 1748
798 596
799 2612
800 1661
801 453
802 2397
803 318
804 2557
805 2006
806 1991
807 2255
808 2825
809 2990
810 2947
811 2796
812 2953
813 1909
814 358
815 286
816 2313
817 1977
818 445
819 1788
820 869
821 116
822 1541
823 1447
824 147
825 307
826 1601
827 2235
828 1487
829 2942
830 1354
831 2471
832 1584
833 1215
834 932
835 1254
836 1027
837 2123
838 602
839 2864
840 1796
841 2496
842 2273
843 550
844 2422
845 2105
846 2487
847 2737
848 1194
849 2566
850 692
851 1058
852 293
853 1934
854 2078
855 2676
856 1403
857 2263
858 420
859 2634
860 490
861 2269
862 2659
863 2980
864 1777
865 111
866 1524
867 1629
868 2297
869 2254
870 272
871 1014
872 1151
873 488
874 649
875 1723
876 1096
877 1737
878 2075
879 992
880 976
881 1506
882 730
883 2637
884 859
885 263
886 2591
887 1711
888 2359
889 444
890 187
891 94
892 27
893 1620
894 492
895 619
896 1716
897 373
898 1994
899 2530
900 2846
901 2797
902 1815
903 2095
904 2598
905 920
906 2589
907 1477
908 1259
909 2148
910 1038
911 1580
912 2079
913 252
914 449
915 1136
916 894
917 2456
918 1899
919 2442
920 169
921 2243
922 1475
923 2815
924 901
925 141
926 2220
927 2412
928 135
929 2229
930 2404
931 2878
932 1429
933 2093
934 2161
935 919
936 1079
937 2889
938 347
939 173
940 913
941 2723
942 930
943 739
944 2411
945 1774
946 2710
947 1448
948 1148
949 151
950 1988
951 1005
952 110
953 2802
954 1144
955 1768
956 99
957 883
958 2013
959 397
960 2226
961 911
962 1592
963 1633
964 611
965 498
966 2414
967 1942
968 746
969 946
970 400
971 1734
972 1677
973 1492
974 590
975 2603
976 180
977 2340
978 2498
979 483
980 1744
981 1057
982 1678
983 1277
984 917
985 1306
986 51
987 1139
988 2780
989 1875
990 2318
991 2037
992 2729
993 2823
994 1362
995 2776
996 1964
997 603
998 1121
999 481
1000 1595
1001 2304
1002 215
1003 2656
1004 2031
1005 2740
1006 842
1007 1074
1008 846
1009 1715
1010 1726
1011 2430
1012 2047
1013 1269
1014 336
1015 1153
1016 874
1017 925
1018 75
1019 2997
1020 1857
1021 1825
1022 1017
1023 2457
1024 2153
1025 1098
1026 2627
1027 1780
1028 2867
1029 6
1030 2686
1031 1980
1032 1758
1033 1013
1034 1286
1035 440
1036 163
1037 124
1038 573
1039 2689
1040 871
1041 334
1042 2049
1043 429
1044 2751
1045 1818
1046 275
1047 2885
1048 784
1049 1811
1050 1300
1051 1605
1052 1312
1053 1939
1054 1500
1055 552
1056 1138
1057 1985
1058 1809
1059 1482
1060 1841
1061 2149
1062 1099
1063 2962
1064 672
1065 948
1066 2221
1067 300
1068 2425
1069 2201
1070 2609
1071 1806
1072 599
1073 274
1074 1310
1075 600
1076 1553
1077 1244
1078 953
1079 2515
1080 2027
1081 479
1082 2800
1083 2818
1084 1587
1085 1442
1086 2592
1087 1313
1088 406
1089 1946
1090 1957
1091 1863
1092 1967
1093 567
1094 2986
1095 265
1096 1423
1097 2857
1098 2579
1099 366
1100 1508
1101 1368
1102 540
1103 2777
1104 2556
1105 1383
1106 2756
1107 1574
1108 1094
1109 1512
1110 1656
1111 685
1112 2747
1113 2695
1114 269
1115 350
1116 1317
1117 1273
1118 2427
1119 1029
1120 2395
1121 1275
1122 1157
1123 2895
1124 2174
1125 2898
1126 2100
1127 3000
1128 745
1129 2314
1130 1460
1131 2347
1132 1179
1133 1845
1134 2790
1135 61
1136 2360
1137 1299
1138 2500
1139 1714
1140 339
1141 788
1142 2830
1143 1293
1144 2944
1145 684
1146 583
1147 2582
1148 1217
1149 2653
1150 1377
1151 2502
1152 1655
1153 2509
1154 876
1155 2946
1156 7
1157 2194
1158 2159
1159 56
1160 2877
1161 240
1162 2736
1163 2491
1164 1070
1165 1435
1166 24
1167 115
1168 2097
1169 1558
1170 2897
1171 2761
1172 512
1173 1839
1174 2142
1175 2564
1176 1169
1177 1338
1178 1476
1179 2574
1180 232
1181 1631
1182 705
1183 864
1184 1198
1185 1689
1186 2839
1187 1984
1188 417
1189 1106
1190 2803
1191 2017
1192 2685
1193 382
1194 2375
1195 1929
1196 2253
1197 2912
1198 2658
1199 234
1200 1131
1201 466
1202 29
1203 1671
1204 786
1205 1669
1206 2808
1207 2955
1208 402
1209 2702
1210 768
1211 2745
1212 2883
1213 2622
1214 507
1215 1451
1216 1176
1217 1222
1218 545
1219 175
1220 2934
1221 133
1222 328
1223 887
1224 2385
1225 2711
1226 1000
1227 401
1228 762
1229 2021
1230 1851
1231 2855
1232 1877
1233 617
1234 2845
1235 2054
1236 1419
1237 2371
1238 601
1239 1015
1240 2128
1241 2559
1242 594
1243 2896
1244 2616
1245 2238
1246 610
1247 2902
1248 1998
1249 2180
1250 462
1251 2651
1252 1398
1253 1363
1254 1547
1255 2399
1256 1585
1257 1624
1258 1895
1259 1323
1260 821
1261 2908
1262 1590
1263 1216
1264 1412
1265 2860
1266 1303
1267 1366
1268 1180
1269 2671
1270 241
1271 464
1272 1720
1273 961
1274 1856
1275 1333
1276 805
1277 1663
1278 2450
1279 2945
1280 806
1281 675
1282 817
1283 1575
1284 1717
1285 1330
1286 78
1287 843
1288 1940
1289 2859
1290 1919
1291 2948
1292 422
1293 2599
1294 1563
1295 2684
1296 1093
1297 2366
1298 477
1299 2746
1300 2888
1301 1799
1302 404
1303 2501
1304 480
1305 2970
1306 588
1307 476
1308 2949
1309 152
1310 213
1311 2026
1312 1191
1313 1081
1314 2298
1315 2971
1316 421
1317 2648
1318 1793
1319 713
1320 2835
1321 1228
1322 2175
1323 841
1324 1319
1325 631
1326 1004
1327 2750
1328 2247
1329 1514
1330 41
1331 2585
1332 1927
1333 1973
1334 837
1335 71
1336 982
1337 875
1338 2200
1339 2059
1340 1612
1341 1593
1342 37
1343 666
1344 1865
1345 423
1346 1280
1347 1498
1348 2167
1349 942
1350 177
1351 2198
1352 857
1353 736
1354 2654
1355 1184
1356 2518
1357 2369
1358 2443
1359 171
1360 2788
1361 2005
1362 2939
1363 1023
1364 1962
1365 731
1366 1162
1367 1249
1368 1702
1369 57
1370 351
1371 642
1372 1036
1373 2730
1374 2310
1375 678
1376 2024
1377 2621
1378 1842
1379 1110
1380 2863
1381 903
1382 2770
1383 63
1384 632
1385 2259
1386 1478
1387 49
1388 1456
1389 1086
1390 1887
1391 139
1392 2765
1393 1069
1394 1376
1395 452
1396 2698
1397 1358
1398 174
1399 5
1400 2638
1401 2462
1402 1522
1403 1578
1404 1732
1405 2377
1406 2605
1407 2754
1408 2963
1409 1618
1410 79
1411 2325
1412 2354
1413 1824
1414 287
1415 1889
1416 962
1417 2631
1418 2999
1419 950
1420 44
1421 626
1422 890
1423 1894
1424 385
1425 296
1426 2141
1427 218
1428 23
1429 2771
1430 2020
1431 2077
1432 1943
1433 1120
1434 1095
1435 2733
1436 2053
1437 949
1438 1189
1439 1467
1440 2219
1441 748
1442 1779
1443 2576
1444 1614
1445 1685
1446 1397
1447 377
1448 2851
1449 2587
1450 1995
1451 1294
1452 348
1453 2506
1454 1065
1455 824
1456 726
1457 777
1458 69
1459 426
1460 136
1461 525
1462 2899
1463 1928
1464 954
1465 1185
1466 2772
1467 2195
1468 1214
1469 1805
1470 82
1471 1486
1472 2133
1473 1762
1474 2779
1475 1764
1476 1724
1477 1458
1478 1401
1479 2988
1480 2102
1481 1340
1482 2317
1483 584
1484 285
1485 2250
1486 2600
1487 1850
1488 2793
1489 2041
1490 438
1491 733
1492 1464
1493 2536
1494 2418
1495 1822
1496 2511
1497 2595
1498 2376
1499 1591
1500 1156
1501 1976
1502 651
1503 866
1504 2052
1505 1767
1506 1898
1507 1052
1508 2492
1509 727
1510 1499
1511 193
1512 1008
1513 995
1514 306
1515 1457
1516 2435
1517 1670
1518 2938
1519 581
1520 664
1521 2409
1522 2393
1523 1119
1524 398
1525 766
1526 640
1527 2707
1528 2461
1529 1937
1530 2665
1531 2954
1532 2814
1533 2961
1534 1251
1535 411
1536 1224
1537 1901
1538 2307
1539 2741
1540 2617
1541 1247
1542 2299
1543 2345
1544 389
1545 2758
1546 1288
1547 2448
1548 357
1549 132
1550 560
1551 1627
1552 2432
1553 2824
1554 2766
1555 2787
1556 1546
1557 873
1558 2321
1559 1852
1560 2036
1561 2103
1562 1970
1563 1696
1564 689
1565 893
1566 2096
1567 2433
1568 278
1569 2459
1570 1521
1571 2998
1572 271
1573 1520
1574 2843
1575 65
1576 2300
1577 2454
1578 2270
1579 1950
1580 676
1581 754
1582 1348
1583 134
1584 284
1585 1307
1586 1513
1587 143
1588 1365
1589 543
1590 1060
1591 770
1592 239
1593 2464
1594 1775
1595 923
1596 947
1597 1103
1598 1428
1599 2214
1600 1091
1601 1297
1602 822
1603 2046
1604 721
1605 182
1606 1925
1607 1463
1608 1681
1609 1751
1610 2311
1611 2155
1612 575
1613 311
1614 1230
1615 1892
1616 2709
1617 1878
1618 556
1619 2546
1620 2185
1621 2493
1622 1559
1623 2146
1624 2415
1625 451
1626 226
1627 1528
1628 1849
1629 858
1630 865
1631 2012
1632 97
1633 1084
1634 243
1635 794
1636 2660
1637 2507
1638 656
1639 973
1640 1051
1641 1634
1642 1906
1643 2383
1644 1040
1645 1405
1646 2187
1647 100
1648 1016
1649 374
1650 261
1651 957
1652 835
1653 1432
1654 280
1655 73
1656 2806
1657 2826
1658 2584
1659 2801
1660 2987
1661 2083
1662 682
1663 1881
1664 448
1665 2966
1666 2837
1667 2029
1668 1011
1669 62
1670 905
1671 157
1672 28
1673 1471
1674 1773
1675 2452
1676 1552
1677 1126
1678 2841
1679 2090
1680 1890
1681 2958
1682 2713
1683 2748
1684 2209
1685 681
1686 1116
1687 1329
1688 8
1689 2633
1690 2734
1691 1550
1692 517
1693 2283
1694 216
1695 591
1696 1372
1697 2154
1698 2935
1699 1727
1700 1918
1701 1795
1702 1002
1703 793
1704 830
1705 1479
1706 1904
1707 2048
1708 2018
1709 892
1710 2926
1711 717
1712 491
1713 473
1714 1517
1715 2408
1716 1234
1717 1059
1718 414
1719 225
1720 250
1721 2565
1722 2783
1723 1386
1724 1494
1725 2516
1726 343
1727 1325
1728 1192
1729 1916
1730 515
1731 1519
1732 1783
1733 1974
1734 2330
1735 103
1736 2248
1737 989
1738 2985
1739 2460
1740 2720
1741 2931
1742 2068
1743 1992
1744 1263
1745 2533
1746 636
1747 1170
1748 2728
1749 2099
1750 2615
1751 1426
1752 2853
1753 752
1754 407
1755 1549
1756 2921
1757 456
1758 60
1759 266
1760 593
1761 353
1762 371
1763 755
1764 2322
1765 2596
1766 2875
1767 527
1768 1556
1769 1062
1770 2979
1771 162
1772 1414
1773 2378
1774 652
1775 1031
1776 1907
1777 1630
1778 166
1779 190
1780 2368
1781 125
1782 2350
1783 2774
1784 2524
1785 2193
1786 2726
1787 1061
1788 2675
1789 200
1790 826
1791 1545
1792 2794
1793 848
1794 1472
1795 2532
1796 1908
1797 514
1798 2121
1799 2204
1800 2032
1801 333
1802 2087
1803 1387
1804 1915
1805 2983
1806 2326
1807 1225
1808 572
1809 1586
1810 1497
1811 415
1812 1483
1813 568
1814 1404
1815 1302
1816 2918
1817 2652
1818 2213
1819 513
1820 2581
1821 502
1822 222
1823 536
1824 928
1825 1168
1826 2834
1827 1789
1828 1555
1829 2613
1830 1336
1831 1480
1832 1345
1833 92
1834 2782
1835 1872
1836 1443
1837 2512
1838 210
1839 368
1840 520
1841 2894
1842 1594
1843 511
1844 2365
1845 1566
1846 1240
1847 907
1848 1582
1849 2156
1850 1757
1851 130
1852 2289
1853 669
1854 2925
1855 2139
1856 2798
1857 1394
1858 1676
1859 2816
1860 2015
1861 2636
1862 2301
1863 2197
1864 145
1865 1990
1866 2407
1867 955
1868 1817
1869 2683
1870 646
1871 2402
1872 228
1873 1488
1874 787
1875 2455
1876 2281
1877 2138
1878 80
1879 577
1880 335
1881 484
1882 2110
1883 2477
1884 2169
1885 2485
1886 1223
1887 457
1888 15
1889 813
1890 70
1891 268
1892 554
1893 1745
1894 2539
1895 329
1896 442
1897 2392
1898 418
1899 1265
1900 1271
1901 1161
1902 2571
1903 1920
1904 279
1905 1388
1906 852
1907 1568
1908 394
1909 1941
1910 450
1911 2441
1912 1390
1913 1910
1914 359
1915 2688
1916 1540
1917 1876
1918 2429
1919 201
1920 881
1921 931
1922 662
1923 1370
1924 461
1925 1032
1926 2002
1927 776
1928 2130
1929 2529
1930 2916
1931 2628
1932 1813
1933 1147
1934 1511
1935 1812
1936 144
1937 1491
1938 1923
1939 113
1940 1075
1941 1200
1942 356
1943 1874
1944 667
1945 460
1946 714
1947 1534
1948 469
1949 31
1950 888
1951 2065
1952 670
1953 1848
1954 753
1955 840
1956 2349
1957 693
1958 2670
1959 2886
1960 2890
1961 2880
1962 1864
1963 2324
1964 2882
1965 1266
1966 981
1967 1888
1968 47
1969 671
1970 289
1971 2768
1972 375
1973 1651
1974 1936
1975 1963
1976 1295
1977 425
1978 1003
1979 1866
1980 2361
1981 1097
1982 2735
1983 2795
1984 1132
1985 1181
1986 801
1987 494
1988 696
1989 1829
1990 2989
1991 1867
1992 1713
1993 2157
1994 1501
1995 1196
1996 1837
1997 2463
1998 2541
1999 1838
2000 1826
2001 1439
2002 613
2003 2231
2004 900
2005 2331
2006 437
2007 2428
2008 2763
2009 758
2010 1503
2011 944
2012 160
2013 2282
2014 851
2015 2040
2016 1490
2017 1611
2018 2206
2019 1622
2020 2303
2021 2257
2022 885
2023 363
2024 503
2025 711
2026 2171
2027 2291
2028 571
2029 1694
2030 2558
2031 1399
2032 926
2033 487
2034 254
2035 2655
2036 2692
2037 202
2038 738
2039 2028
2040 2672
2041 1421
2042 2937
2043 2190
2044 2641
2045 986
2046 2315
2047 1175
2048 2604
2049 555
2050 89
2051 405
2052 1589
2053 2920
2054 997
2055 2237
2056 119
2057 229
2058 2924
2059 304
2060 1481
2061 2791
2062 1778
2063 1183
2064 2494
2065 277
2066 1719
2067 416
2068 2804
2069 2228
2070 1495
2071 608
2072 661
2073 1518
2074 1819
2075 2597
2076 708
2077 2739
2078 1683
2079 2680
2080 2232
2081 854
2082 1564
2083 1710
2084 1206
2085 2346
2086 2151
2087 245
2088 1662
2089 2267
2090 43
2091 2871
2092 529
2093 2277
2094 1123
2095 1001
2096 2903
2097 2504
2098 320
2099 1309
2100 1391
2101 2545
2102 1885
2103 1502
2104 2749
2105 378
2106 576
2107 2423
2108 1221
2109 720
2110 1035
2111 2266
2112 882
2113 1270
2114 2396
2115 22
2116 2135
2117 732
2118 1525
2119 847
2120 634
2121 2525
2122 1536
2123 1641
2124 1279
2125 609
2126 30
2127 2838
2128 558
2129 2968
2130 1728
2131 589
2132 1602
2133 2991
2134 706
2135 1969
2136 1378
2137 2724
2138 1999
2139 1108
2140 2372
2141 2181
2142 1415
2143 2211
2144 2344
2145 1752
2146 1742
2147 2725
2148 975
2149 737
2150 500
2151 121
2152 2715
2153 972
2154 725
2155 1616
2156 36
2157 76
2158 2132
2159 150
2160 814
2161 88
2162 2104
2163 1055
2164 2434
2165 934
2166 324
2167 12
2168 1182
2169 2030
2170 207
2171 214
2172 769
2173 1082
2174 2215
2175 2391
2176 1972
2177 539
2178 1770
2179 2813
2180 2417
2181 759
2182 566
2183 709
2184 2356
2185 2623
2186 1450
2187 2458
2188 1331
2189 184
2190 839

In [18]:
(df_new.groupby('user_id')['total_amount'].sum() > 1000).sum()

np.int64(2544)

- Which restaurant rating range generated the highest total revenue?

In [19]:
df_new.groupby('rating')['total_amount'].sum().sort_values(ascending=False)

rating
4.8    657707.71
4.6    495867.97
3.2    490913.01
4.5    479047.03
4.9    467467.09
3.8    466878.69
3.1    443863.92
4.2    423185.06
4.7    416301.51
4.1    380850.85
3.7    368173.17
4.4    346276.90
3.4    339942.79
4.3    330966.42
3.5    318822.05
4.0    318261.42
3.9    299987.19
3.3    288212.80
3.6    264193.94
3.0    255018.13
5.0    159686.47
Name: total_amount, dtype: float64

- Among Gold members, which city has the highest average order value?

In [20]:
df_new[df_new['membership'] == 'Gold'].groupby('city')['total_amount'].mean().sort_values()

city
Pune         781.162243
Bangalore    793.223756
Hyderabad    806.421034
Chennai      808.459080
Name: total_amount, dtype: float64

- Which cuisine has the lowest number of distinct restaurants but still contributes significant revenue?

In [107]:
df_new.groupby(['cuisine']).agg({'restaurant_name_x':'nunique','total_amount':'sum'})

         restaurant_name_x  total_amount
cuisine
Chinese                115    1930504.65
Indian                 122    1971412.58
Italian                124    2024203.80
Mexican                124    2085503.09

- What percentage of total orders were placed by Gold members? (Rounded to nearest integer)

In [22]:
df_new[df_new['membership'] == 'Gold'].count()

Unnamed: 0           4987
order_id             4987
user_id              4987
restaurant_id        4987
order_date           4987
total_amount         4987
restaurant_name_x    4987
name                 4987
city                 4987
membership           4987
restaurant_name_y    4987
cuisine              4987
rating               4987
dtype: int64

In [24]:
4987 / 100

49.87

- Which restaurant has the highest average order value but less than 20 total orders?

In [92]:
df_processed = df_new.groupby('restaurant_name_x').agg({'total_amount':'mean','order_id':'count'}).sort_values('total_amount',ascending=False)

In [99]:
df_processed[df_processed['order_id']<20]

                                   total_amount  order_id
restaurant_name_x
Hotel Dhaba Multicuisine            1040.222308        13
Sri Mess Punjabi                    1029.180833        12
Ruchi Biryani Punjabi               1002.140625        16
Sri Delights Pure Veg                989.467222        18
Classic Kitchen Family Restaurant    973.167895        19
...                                         ...       ...
Annapurna Tiffins Punjabi            621.828947        19
Darbar Tiffins Non-Veg               596.815556        18
Darbar Restaurant Punjabi            589.972857        14
Spice Tiffins Pure Veg               578.578667        15
Ruchi Mess Punjabi                   572.686471        17

[170 rows x 2 columns]

In [105]:
df_new.groupby(['restaurant_id','restaurant_name_x'])

- Which combination contributes the highest revenue?

In [35]:
df_new.groupby(['membership','cuisine'])['total_amount'].sum().sort_values(ascending=False)

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

- During which quarter of the year is the total revenue highest?

In [39]:
df_new['total_amount'].describe()

count    10000.000000
mean       801.162412
std        405.458753
min        100.200000
25%        446.310000
50%        806.295000
75%       1149.227500
max       1499.830000
Name: total_amount, dtype: float64

In [113]:
df_new['order_date'] = pd.to_datetime(df_new['order_date'],format="%d-%m-%Y")

In [115]:
df_new['quarter'] = df_new['order_date'].dt.quarter

In [117]:
df_new.groupby('quarter')['total_amount'].sum().sort_values()

quarter
2    1945348.72
1    2010626.64
4    2018263.66
3    2037385.10
Name: total_amount, dtype: float64

- How many total orders were placed by users with Gold membership?

In [59]:
df_new[df_new['membership'] == 'Gold'].count()

Unnamed: 0           4987
order_id             4987
user_id              4987
restaurant_id        4987
order_date           4987
total_amount         4987
restaurant_name_x    4987
name                 4987
city                 4987
membership           4987
restaurant_name_y    4987
cuisine              4987
rating               4987
dtype: int64

- What is the total revenue (rounded to nearest integer) generated from orders placed in Hyderabad city?

In [61]:
df_new.groupby('city')['total_amount'].sum().sort_values()

city
Hyderabad    1889366.58
Pune         1924797.93
Chennai      1990513.03
Bangalore    2206946.58
Name: total_amount, dtype: float64

- What is the average order value (rounded to 2 decimals) for Gold members?

In [64]:
df_new.groupby('membership')['total_amount'].mean().sort_values().round(2)

membership
Gold       797.15
Regular    805.16
Name: total_amount, dtype: float64

- How many orders were placed for restaurants with rating ≥ 4.5?

In [68]:
for i in df_new.groupby(['rating', 'order_id']):

                 Unnamed: 0  user_id  restaurant_id  order_date  total_amount  \
rating order_id
3.0    5                  1        1              1           1             1
       17                 1        1              1           1             1
       183                1        1              1           1             1
       377                1        1              1           1             1
       387                1        1              1           1             1
...                     ...      ...            ...         ...           ...
5.0    9679               1        1              1           1             1
       9723               1        1              1           1             1
       9763               1        1              1           1             1
       9942               1        1              1           1             1
       9982               1        1              1           1             1

                 restaurant_name_x  name  city  membership  restaurant_name_y  \
rating order_id
3.0    5                         1     1     1           1                  1
       17                        1     1     1           1                  1
       183                       1     1     1           1                  1
       377                       1     1     1           1                  1
       387                       1     1     1           1                  1
...                            ...   ...   ...         ...                ...
5.0    9679                      1     1     1           1                  1
       9723                      1     1     1           1                  1
       9763                      1     1     1           1                  1
       9942                      1     1     1           1                  1
       9982                      1     1     1           1                  1

                 cuisine
rating order_id
3.0    5               1
       17              1
       183             1
       377             1
       387             1
...                  ...
5.0    9679            1
       9723            1
       9763            1
       9942            1
       9982            1

[10000 rows x 11 columns]

- How many orders were placed in the top revenue city among Gold members only?

In [70]:
df_new[df_new['membership'] == 'Gold'].groupby('city')['total_amount'].count().sort_values()

city
Hyderabad    1112
Bangalore    1254
Pune         1284
Chennai      1337
Name: total_amount, dtype: int64

- How many distinct users placed at least one order?

In [76]:
df_new['user_id'].value_counts()

user_id
2973    13
1515    12
874     11
496     11
1337    11
        ..
1101     1
2074     1
1473     1
592      1
2172     1
Name: count, Length: 2883, dtype: int64